.container {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}
.h1 {
  margin-bottom: var(--dimension-spacing-large);
}
.h2 {
  margin-bottom: var(--dimension-spacing-medium);
}

.title {
  font-family: var(--font-family-default);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
.h1 .title {
  font-size: var(--font-size-large);
  font-weight: 500;
  color: var(--color-foreground);
}
.h2 .title {
  font-size: var(--font-size-medium);
  font-weight: 500;
  color: var(--color-foreground);
}