.container {
  margin-bottom: var(--dimension-spacing-small);
  align-items: center;
  display: flex;
  cursor: pointer;
}
.container:last-child {
  margin-bottom: 0
}
.icon {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}
.icon :global(.bio__icon) {
  font-size: 22px
}
.details {
  margin-left: var(--dimension-spacing-small);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.number {
  width: 100%;
  height: 23px;
  background: transparent;
  border: 0;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: var(--font-family-code);
  color: var(--color-foreground);
  cursor: pointer;
}
.description {
  font-size: var(--font-size-small);
  color: var(--color-muted);
  font-size: 12px;
}