.container {
  font-family: var(--font-family-brand);
  font-size: var(--font-size-large);
  font-weight: 600;
  color: var(--color-foreground);
  line-height: 1;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}